/* Logo para el Navbar */
.logo {
    height: 45px;
    border-radius: 12px;
    background-color: #fff;
    padding: 2px;
    box-shadow: 0 4px 16px rgba(255, 255, 255, 0.85);
    transition: transform 0.35s ease, box-shadow 0.35s ease;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.08);
    box-shadow: 0 6px 20px #04BFBF;
}
/* logo para la pagina inicio */
.logoContainer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.logo2 {
    height: 130px;
    max-width: 100%; 
    z-index: 1;
    border-radius: 12px;
    background-color: #fff;
    padding: 2px;
    box-shadow: 0 4px 16px rgba(58, 58, 58, 0.85);
    transition: transform 0.35s ease, box-shadow 0.35s ease;
    cursor: pointer;
}
.logo2:hover{
    box-shadow: 0 6px 20px #04BFBF;
}